.container{
  max-width: 1080px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #efedea;
  opacity: 0.80;
}
#toggle{
  border-radius: 5px;
  margin: 10px;

}
.error{
  color: red;
}